:root {
  --main-bg-color: hsl(215, 35%, 18%);
  --main-color: #fafafa;
  --lightest-yellow: #fffcee;
  --light-grey: #eeeeee;
  --grey: #c4c4c4;
  --darker-blue: #002d6c;
  --light-footer-color: hsl(215, 26%, 31%);
  --white: #ffffff;
  --caution-color: #c20000;

  /* --light-bg-color: #fafafa;
  --yellow: #fbb910;
  --light-yellow: #ffd569;
  --lighter-yellow: #fff5c0;
  --heart-color: #ffafaf;
  --backdrop-color: #00000066; */
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
a,
span,
label,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

p,
span,
label,
input,
textarea {
  font-size: 14px;
}

/* Page header */
header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

header .logo {
  margin: auto 20px;
  height: 40px;
}

header .title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

header nav {
  flex: 1;
}

.navbar {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  display: inline-block;
  margin: auto 40px auto 0;
}

.navbar a {
  text-decoration: none;
  color: var(--main-color);
}

.navbar a:hover {
  border-bottom: solid 1px var(--main-color);
}

/* Page content */
main {
  margin-top: 12vh;
  min-height: 80vh;
}

/* Page footer */
footer {
  height: 8vh;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-footer-color);
  color: var(--main-color);
}

footer .description,
footer .author {
  margin: 0;
}
